@font-face {
  font-family: "gong";         
  src: url("./font/esamanru Light.ttf");
}
* {
  font-family: "gong";
}
.App {
  text-align: center;
  margin: auto;
  width: 600px;
  height: 90vh;
  background-color: skyblue;
  vertical-align: middle;
}
/* 스크롤바 제거 */
.con::-webkit-scrollbar {
  display: none; 
}

.logo {
  display: block;
  width: 80%;
  margin: 0 auto 40px auto;
}
.addBtn:hover{
  cursor: pointer;  
  /* transform: rotate(15deg); */
}
.addBtn {
  all:unset;
  position: relative;
  left: 100%;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  text-align: center;
  bottom: -15px;
  transition: all ease 0.7s;
}
/* 카드등록 */
.addBtn2:hover{
  cursor: pointer;
}
.addBtn2 {
  all:unset;
  position: relative;
  left: 70%;
  background-color: white;
  bottom: -40px;
  width: 150px;
  padding: 10px;
  border-radius: 40px;
  text-align: center;
}
.plus{
  display: block;
  margin: auto;
  width: 50%;
}
.viewBox{
  margin-left: 16px;
}
.viewBox > h3 {
  color: skyblue;
  text-shadow: skyblue;
  margin: 0 0 7px 0; 
}
.viewBox > h4 {
  font-weight: 400;
  margin: 0 0 25px 10px;
  /* text-decoration: underline skyblue 2px; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 88%;
  border-bottom: 1px solid black;
}
a {
  color: black;
  text-decoration: none;
}
.desc {
  font-weight: 700;
  font-size: 18px;
  color: rgb(0, 102, 255);
}

/* 카드등록 관련 */
.addBox > h2 {
  color: white;
}
.addBox > input {
  font-size: 14px;
}
.addBox > input::placeholder {
  color: rgb(243, 243, 243);
  font-weight: 400;
}

/* 인풋박스 테두리, 포커스시 테두리 삭제 */
input {
  color: white;
  background-color: skyblue;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  padding-bottom: 5px;
}
input:focus {
  outline:none;
  color: white;
}
input::placeholder{
  color: rgb(245, 245, 245);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
